@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url(components/content.css);
@import url(components/footer.css);
@import url(components/navbar.css);
@import url(components/sidebar.css);
@import url(components/tabela.css);
@import url(components/produtos.css);
@import url(components/button.css);
@import url(components/editar.css);
@import url(components/erro.css);


body {
    font-family: "Roboto Slab", serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
}

h1 {
    margin: 20px 0;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-shadow: 2ch;
}

.div-home{
    text-align: right;
    margin: 0px 200px 20px;
}
