.produtos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.produto{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    gap: 15px;
    width: 200px;
    background-color: #cac9b8;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    text-align: start;
    
    span {
        width: 100%;
    };

    h2 {
        width: 100%;
        font-weight: bold;
    }
}

.produto:hover {
    background-color: #fff;
    transform: scale(1.05);
}