.botoes-container{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 2px;
}

.botao-salvar{
    background-color: rgb(75, 135, 210);
}
.botao-excluir{
    background-color: rgb(226, 79, 79);
}

.form-button-add{
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 10px 65px;
}
.button-add{
    background-color: rgb(104, 223, 153);
}