label{
    font-weight: bold;
}

.main-form{
    width: 100%;
    height: 100%;
}

.form-editar{
    display: flex;
    flex-direction: column;
    margin: 15px 10px 0px 15px;
    padding: 5px;
    gap: 3px;
}

.form-input{
    width: 100%;
    height: 35px;
    border: none;
    padding-bottom: 5px;
    background-color:rgba(118, 121, 124, 0.351);
}

.form-label{
    padding: 5px;
}


.form-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .cancelar{
        background-color: #F7374F;
        color: aliceblue;
    }
    .salvar{
        background-color: #5F8B4C;
        color: aliceblue;
    }
}