footer {
    width: calc(100vw - 200px);
    height: 22px;
    background-color: #a5a36c;
    /* position: fixed;
    right: 0;
    bottom: 0; */
    grid-column: 2;
    grid-row: 3;

    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

    }

    span {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 490px) {
    footer {
        width: 100vw;
        grid-column: 1;
    }

    span {
        font-size: 0.8rem; 
    };
    
}