aside {
    width: 200px;
    height: 100vh;
    background-color: #535233;
    /* position: fixed;
    left: 0; */
    grid-column: 1;
    grid-row: 1 / 4;
    z-index: 1;

    a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1.2rem;
        
    }

    ul {
        height: calc(100vh - 80px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        text-align: center;
    }

    button {
        visibility: hidden;
    }
}

@media screen and (max-width: 490px) {
    aside {
        visibility: hidden;

        button {
            visibility: visible;
            border: none;
            background-color: transparent;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 48px;
            object-fit: contain;
        }
    }
}